
/*input checkbox 样式的美化*/
/*$checked-color: #fff;*/
/*$checked-bg:rgb(101,141,181);*/
/*$unchecked-color: #cfcece;*/
/*$unchecked-bg:rgb(249,249,249);*/
/*$checkbox-height: 100px;*/
/*$background-color:#fff;*/
/*$font-color:#dcdcdc;*/
/*$duration: .4s;*/


input[type=checkbox] {
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    display: none

}

.cb-label {
    height: 20px;
    width: 20px;
    background: rgb(249, 249, 249);
    border: 2px solid #cfcece;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease .2s;
    -moz-transition: border-color ease .2s;
    -o-transition: border-color ease .2s;
    -webkit-transition: border-color ease .2s;
    cursor: pointer;
    margin: 0;
}
.cb-label::before,.cb-label::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 4px;
    background: #fff;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    content: '';
    -webkit-transition: opacity ease 0.5s;
    -moz-transition: opacity ease 0.5s;
    transition: opacity ease 0.5s;
}
.cb-label::before{
    top:14px;
    left: 6px;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.cb-label::after {
    top: 9px;
    left: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type=checkbox]:checked + .cb-label,
.cb-label.checked {
    /*background: rgb(101, 141, 181);*/
    /*border-color: rgb(101, 141, 181);*/
    background: #5AB6DF;
    border-color: #5AB6DF;
}
input[type=checkbox]:checked + .cb-label::after{

    border-color:#fff;
    height: 7px;
    -moz-animation: dothabottomcheck .2s ease 0s forwards;
    -o-animation: dothabottomcheck .2s ease 0s forwards;
    -webkit-animation: dothabottomcheck .2s ease 0s forwards;
    animation: dothabottomcheck .2s ease 0s forwards;

}

input[type=checkbox]:checked + .cb-label::before{

    border-color:#fff;
    height: 2px;
    -moz-animation: dothatopcheck .4s ease 0s forwards;
    -o-animation: dothatopcheck .4s ease 0s forwards;
    -webkit-animation: dothatopcheck .4s ease 0s forwards;
    animation: dothatopcheck .4s ease 0s forwards;

}


@-moz-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 7px; }
}

@-webkit-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 7px; }
}

@keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 7px;  }
}

@keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 14px; }
}
@-webkit-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 14px; }
}
@-moz-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 14px; }
}


textarea {
    resize: none;
}

/*主部门的特殊标记*/
.glyphicon-star {
    font-size: 18px;
    color: #EB9302;
}
