
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500615967325'); /* IE9*/
  src: url('iconfont.eot?t=1500615967325#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500615967325') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500615967325') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500615967325#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ditu2:before { content: "\e680"; }

.icon-zuixiaohua1:before { content: "\e667"; }

.icon-back:before { content: "\e64d"; }

.icon-plane:before { content: "\e696"; }

.icon-dianji-copy:before { content: "\e600"; }

.icon-tuichu:before { content: "\e80a"; }

.icon-group12:before { content: "\e60a"; }

.icon-yonghu:before { content: "\e694"; }

.icon-restore:before { content: "\e602"; }

.icon-shipin1:before { content: "\e66e"; }

.icon-cheliang:before { content: "\e68c"; }

.icon-lishi:before { content: "\e633"; }

.icon-shoushidianji:before { content: "\e628"; }

.icon-zuixiaohua:before { content: "\e922"; }

.icon-fanhui:before { content: "\e612"; }

.icon-yingjiyuan:before { content: "\e789"; }

